.table-of-contents {
	background-color: var(--color-light-shade);
	border: var(--stroke);
	border-radius: var(--radius-s);
	font-size: var(--step-0);
	overflow-x: auto;
	padding: var(--space-2xs);
}

.table-of-contents[open] summary {
	border-block-end: var(--stroke);
	padding-block-end: var(--space-2xs);
}

.table-of-contents a {
	color: var(--color-dark);
}
