<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc45c65b-f93c-45e4-8149-9e1a9fb8c152" Alias="Configuration" Level="2">
  <Info>
    <Parent Key="2fcce649-bcc7-405c-bd98-898c6ca4bfe4">Docs</Parent>
    <Path>/Docs/Configuration</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-01-25T20:10:47</CreateDate>
    <NodeName Default="Configuration" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>