<?xml version="1.0" encoding="utf-8"?>
<Media Key="2fcce649-bcc7-405c-bd98-898c6ca4bfe4" Alias="Docs" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Docs</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-01-25T12:31:57</CreateDate>
    <NodeName Default="Docs" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>