<?xml version="1.0" encoding="utf-8"?>
<Media Key="e015ade0-1f42-4de6-a2be-54714c840d51" Alias="Getting Started" Level="2">
  <Info>
    <Parent Key="2fcce649-bcc7-405c-bd98-898c6ca4bfe4">Docs</Parent>
    <Path>/Docs/GettingStarted</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-01-25T12:32:05</CreateDate>
    <NodeName Default="Getting Started" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>