<?xml version="1.0" encoding="utf-8"?>
<Media Key="24fd7b01-622a-4f2a-97d0-6b1ac89290f5" Alias="home-node-cannot-be-routed-screenshot.png" Level="3">
  <Info>
    <Parent Key="6b80978d-3874-4821-8f44-d054bb8f164c">Troubleshooting</Parent>
    <Path>/Docs/Troubleshooting/homeNodeCannotBeRoutedScreenshotpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-26T12:31:54</CreateDate>
    <NodeName Default="home-node-cannot-be-routed-screenshot.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/r0ylxesd/home-node-cannot-be-routed-screenshot.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>