<?xml version="1.0" encoding="utf-8"?>
<Media Key="442fae8d-f62f-4e8c-9093-7b42dbf62804" Alias="Important Concepts" Level="2">
  <Info>
    <Parent Key="2fcce649-bcc7-405c-bd98-898c6ca4bfe4">Docs</Parent>
    <Path>/Docs/ImportantConcepts</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-01-25T12:32:27</CreateDate>
    <NodeName Default="Important Concepts" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>