<?xml version="1.0" encoding="utf-8"?>
<Media Key="5eb30ddc-24ca-4805-a51e-bf50742262c1" Alias="NoAi_01.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NoAi_01svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-12-22T01:42:36</CreateDate>
    <NodeName Default="NoAi_01.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f0ybdpgr/noai_01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>