<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c102b23-c1a2-4dee-9341-1e293cb3a787" Alias="site-settings-node-screenshot.png" Level="3">
  <Info>
    <Parent Key="bc45c65b-f93c-45e4-8149-9e1a9fb8c152">Configuration</Parent>
    <Path>/Docs/Configuration/siteSettingsNodeScreenshotpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-25T20:11:04</CreateDate>
    <NodeName Default="site-settings-node-screenshot.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vtqfnwwl/site-settings-node-screenshot.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>