<?xml version="1.0" encoding="utf-8"?>
<Media Key="439e27d8-fb91-449e-8beb-c1b4de2c3111" Alias="umbraco-and-eleventy-screenshot.png" Level="3">
  <Info>
    <Parent Key="e015ade0-1f42-4de6-a2be-54714c840d51">Getting Started</Parent>
    <Path>/Docs/GettingStarted/umbracoAndEleventyScreenshotpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-25T12:34:42</CreateDate>
    <NodeName Default="umbraco-and-eleventy-screenshot.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/k5wnr3py/umbraco-and-eleventy-screenshot.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>