<?xml version="1.0" encoding="utf-8"?>
<Content Key="da4e63d2-9b5b-4ee1-9581-68f424efa7b1" Alias="Configuration" Level="3">
  <Info>
    <Parent Key="d29d636c-591d-435c-9de7-7f9188276d1e">Docs</Parent>
    <Path>/Home/Docs/Configuration</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2024-12-23T00:52:09</CreateDate>
    <NodeName Default="Configuration" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <expandTableOfContents>
      <Value><![CDATA[]]></Value>
    </expandTableOfContents>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainHeading>
      <Value><![CDATA[]]></Value>
    </mainHeading>
    <metaDescription>
      <Value><![CDATA[Configuration docs for the fr1end1y starter kit.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <showSubpageNavigation>
      <Value><![CDATA[1]]></Value>
    </showSubpageNavigation>
    <showTableOfContents>
      <Value><![CDATA[]]></Value>
    </showTableOfContents>
    <subpageNavigationDepth>
      <Value><![CDATA[]]></Value>
    </subpageNavigationDepth>
  </Properties>
</Content>