<?xml version="1.0" encoding="utf-8"?>
<Content Key="d29d636c-591d-435c-9de7-7f9188276d1e" Alias="Docs" Level="2">
  <Info>
    <Parent Key="3f7d813b-bc11-4776-9016-da9351c9eafc">Home</Parent>
    <Path>/Home/Docs</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2024-12-21T17:20:21</CreateDate>
    <NodeName Default="Docs" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <expandTableOfContents>
      <Value><![CDATA[]]></Value>
    </expandTableOfContents>
    <mainContent>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003E\u26A0\uFE0F These docs are a work in progress.\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </mainContent>
    <mainHeading>
      <Value><![CDATA[Documentation]]></Value>
    </mainHeading>
    <metaDescription>
      <Value><![CDATA[Main documentation for the fr1end1y starter kit.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Documentation]]></Value>
    </metaTitle>
    <showSubpageNavigation>
      <Value><![CDATA[1]]></Value>
    </showSubpageNavigation>
    <showTableOfContents>
      <Value><![CDATA[]]></Value>
    </showTableOfContents>
    <subpageNavigationDepth>
      <Value><![CDATA[2]]></Value>
    </subpageNavigationDepth>
  </Properties>
</Content>