<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f7d813b-bc11-4776-9016-da9351c9eafc" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-12-21T17:05:43</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <headline>
      <Value><![CDATA[A starter kit for Umbraco-powered Eleventy sites]]></Value>
    </headline>
    <mainContent>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003ETo install, run the following in a terminal (requires \u003Ca target=\u0022_blank\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022https://dotnet.microsoft.com/en-us/download/dotnet/9.0\u0022 title=\u0022\u0022 type=\u0022external\u0022\u003E.NET 9\u003C/a\u003E and \u003Ca target=\u0022_blank\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022https://nodejs.org/en/download/package-manager\u0022 title=\u0022\u0022 type=\u0022external\u0022\u003ENode.js 20\u003C/a\u003E):\u003C/p\u003E\u003Cpre\u003E\u003Ccode\u003Edotnet new install Umbraco.Community.Templates.Fr1end1y\ndotnet new fr1end1y --help\u003C/code\u003E\u003C/pre\u003E\u003Cp\u003E\u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022/{localLink:3fa26165-e5b1-4739-87bf-f3dd83edf823}\u0022 title=\u0022\u0022 type=\u0022document\u0022\u003ELearn More \u2192\u003C/a\u003E\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[fr1end1y is a website starter kit that combines Umbraco, "the friendly CMS", with Eleventy, "a simpler static site generator".]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[A starter kit for Umbraco-powered Eleventy sites]]></Value>
    </metaTitle>
  </Properties>
</Content>