<?xml version="1.0" encoding="utf-8"?>
<Content Key="dcfd6b7c-d0e3-4efb-afe7-08e0fec646ce" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="3f7d813b-bc11-4776-9016-da9351c9eafc">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2024-12-21T17:21:49</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <brand>
      <Value><![CDATA[fr1end1y 🧡🎈]]></Value>
    </brand>
    <favicon>
      <Value><![CDATA[🎈]]></Value>
    </favicon>
    <footerContent>
      <Value><![CDATA[{
  "markup": "\u003Cp style=\u0022text-align: center\u0022\u003EHandcrafted with \u2764\uFE0F by \u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022https://fullhack.dev/\u0022 title=\u0022fullhack.dev\u0022 type=\u0022external\u0022\u003ESteven Harland\u003C/a\u003E\u003C/p\u003E\u003Cp style=\u0022text-align: center\u0022\u003E\u003Cimg data-udi=\u0022umb://media/5eb30ddc24ca4805a51ebf50742262c1\u0022 src=\u0022/media/f0ybdpgr/noai_01.svg?width=88\u0026amp;height=31\u0026amp;mode=Max\u0022 alt=\u0022\uD83D\uDE0E there\u0027s no ai here!\u0022 width=\u002288\u0022 height=\u002231\u0022\u003E\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </footerContent>
    <mainNavigationLinks>
      <Value><![CDATA[[
  {
    "name": "About",
    "target": null,
    "udi": "umb://document/3fa26165e5b1473987bff3dd83edf823",
    "url": null,
    "queryString": null
  },
  {
    "name": "Docs",
    "target": null,
    "udi": "umb://document/d29d636c591d435c9de77f9188276d1e",
    "url": null,
    "queryString": null
  },
  {
    "name": "GitHub",
    "target": "_blank",
    "udi": null,
    "url": "https://github.com/Full-Hack-Developer/fr1end1y",
    "queryString": null
  },
  {
    "name": "NuGet",
    "target": "_blank",
    "udi": null,
    "url": "https://www.nuget.org/packages/Umbraco.Community.Templates.Fr1end1y",
    "queryString": null
  }
]]]></Value>
    </mainNavigationLinks>
    <siteTitle>
      <Value><![CDATA[fr1end1y]]></Value>
    </siteTitle>
  </Properties>
</Content>