<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c8da6131-2d52-4d00-9e46-3d365f5d642f" Alias="webPage" Level="2">
  <Info>
    <Name>Web Page</Name>
    <Icon>icon-newspaper color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A simple content page.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="1371299b-c529-42a6-9931-5291a1b3ef28">pageMetadata</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="c8da6131-2d52-4d00-9e46-3d365f5d642f" SortOrder="0">webPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>f10ac4e7-51d2-405a-bc5f-b58a243b9ccb</Key>
      <Name>Expand Table of Contents</Name>
      <Alias>expandTableOfContents</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Expand the table of contents. By default contents will appear in a collapsed state.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings/tableOfContents">Table of Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9996f6f0-24ad-47ab-bfd5-c1363fe53651</Key>
      <Name>Main Content</Name>
      <Alias>mainContent</Alias>
      <Definition>dabe3fa3-5c28-4a71-a6e8-fd773257b9d0</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The main page content.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a916ffa5-0685-49c7-92bd-a7f3b8060450</Key>
      <Name>Main Heading</Name>
      <Alias>mainHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The top-level heading for the page. Falls back to the node name when left blank.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b5fe6444-76e8-4335-9285-8d5becae08a2</Key>
      <Name>Show Subpage Navigation</Name>
      <Alias>showSubpageNavigation</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Show a list of links to the children of this page below the main content.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/subpageNavigation">Subpage Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1cd07d12-2097-42db-aa69-ad6080538522</Key>
      <Name>Show Table of Contents</Name>
      <Alias>showTableOfContents</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Generate a table of contents based on the main content headings. Shown beneath the main heading.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/tableOfContents">Table of Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7dc22e11-b406-4341-ad6a-ca553c58fc0b</Key>
      <Name>Subpage Navigation Depth</Name>
      <Alias>subpageNavigationDepth</Alias>
      <Definition>668ab933-99ca-4f2f-87c3-da02241bb3aa</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The number of levels of descendants to show in the subpage navigation list. Defaults to 1 when unset.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings/subpageNavigation">Subpage Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5d7158b7-ae69-4ed8-8cb4-c14205283c0b</Key>
      <Caption>Subpage Navigation</Caption>
      <Alias>settings/subpageNavigation</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>9e32d1e9-e55f-4fc6-8729-399107998900</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>ecf9e937-1141-416d-aa01-667aef09b6e4</Key>
      <Caption>Table of Contents</Caption>
      <Alias>settings/tableOfContents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f08b12ce-4cfa-468d-b7c7-e5c77184f049</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>11</SortOrder>
    </Tab>
  </Tabs>
</ContentType>