<?xml version="1.0" encoding="utf-8"?>
<DataType Key="668ab933-99ca-4f2f-87c3-da02241bb3aa" Alias="Web Page - Subpage Navigation Depth - Numeric Property Editor UI" Level="2">
  <Info>
    <Name>Web Page - Subpage Navigation Depth - Numeric Property Editor UI</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Integer</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "min": 1,
  "step": 1
}]]></Config>
</DataType>